<h1>Listing attractions</h1>

    <ul>
      <li><strong>Name</strong></li>
      <li><strong>Tickets</strong></li>
      <li><strong>Details</strong></li>
    </ul>
    <br/>
    <% @attractions.each do |attraction| %>
    <ul>

        <li><%= attraction.name %></li>
        <li><%= attraction.tickets %></li>
        <% if current_user.admin %>
          <li><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></li>
        <% else %>
          <li><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>
        <% end %>
    </ul>
    <% end %>
<br>

<% if @user %>
  <p>
    <%= link_to "Back to profile", user_path(@user), {:class => "btn btn-primary"} %>
  </p>
<% else %>
  <p><%= link_to 'New Attraction', new_attraction_path %></p>
<% end %>